.App {
  text-align: center;
  margin: 20px;
}
.board {
  margin: 20px auto;
  border: 5px solid #96E6A1;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.board button {
  border: 1px solid #96E6A1;
  width: 33.3333333%;
  font-size: 50px;
}